html,body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins',sans-serif;
  background-color:grey;
}
.one-button,.two-button,.three-button,.four-button,.five-button,.six-button,.seven-button,.eight-button,.nine-button, .zero-button{
  color: white;
  padding: 14px;
  margin: 0 3px;
  width: 63px;
  height: 60px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: rgba(51,51,51,255);
  font-weight: 900;
  font-size: large;
}

.ac-button,.percent-button,.mp-button,.mm-button,.add-button,.multiply-button,.divide-button,.equals-button,.dot-button{
  background-color: rgba(255,159,10,255);
  color: white;
  padding: 14px;
  margin: 0 3px;
  width: 63px;
  height: 60px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 900;
  font-size: large;
}

.ac-button:active,.percent-button:active,.mp-button:active,.mm-button:active,.add-button:active,.multiply-button:active,.divide-button:active,.equals-button:active,.dot-button:active{
  transform: translateY(2px);
}

.casio{
  margin: 10px 0 0px 115px;
  font-size: 20px;
  font-weight: 700;
  color: black;
}
.zero-button{
  width: 138px;
}
.one-button:active,.two-button:active,.three-button:active,.four-button:active,.five-button:active,.six-button:active,.seven-button:active,.eight-button:active,.nine-button:active, .zero-button:active, .ac-button:active {
  transform: translateY(2px);
}
.row{
  margin: 0 0 15px 0;
}
.row input{
  color: white;
  padding: 0 53px 4px 2px;
  font-size: 22px;
  border-radius: 30px;
  border: none;
  background-color: rgb(73, 72, 72);
  height: 120px;
}

